<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            #change{line-height: 2em;margin-left: 25%;font-size: 1.1em;}
            ul, li{list-style-type: none;}
            h1{margin-left: 7em;margin-top: 2em;margin-bottom: 2em;}
            #change_button{padding: .7em;color: white;background-color: green;font-size: 1.2em;margin-top: 2em;margin-left: 12em;border-radius: .5em;border-color: white;}
            </style>
    </head>
    <body>





<div id="change">
<h1>Password change</h1>
<p>Please enter your old password, for security's sake, and then enter
your new password twice so we can verify you typed it in correctly.</p>
<form method="POST">{% csrf_token %}
{{ form.as_ul}}
<input id="change_button" type="submit"
value="Change my password">
</form>
</div>

    </body>
</html>