<!DOCTYPE html>
<html>
    <head>
<style>
    h1{font-size: 2.5em;margin-left: 37%;}
    .button{font-size: 1.2em;padding: 1.5em;color: white;background-color: rgb(67, 199, 1);border-radius: 1em;margin-left: 40%;
        margin-top: 10%;border-color: lawngreen;}
    #signup{margin-top: 2%;margin-left: 41%;}
    a:link,a:visited{color: white;}
    a:link{text-decoration: none;}
</style>
    </head>
    <body>
        <h1>Hello World!</h1>

        <p><a href="{%url 'signup'%}"><button type="submit" class="button">SIGN UP</button></a></p>
        <p><a href="{%url 'login'%}"><button type="submit" class="button" id="signup" >LOG IN</button></a><p>
    
    </body>
</html>